# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

mysql_backup_config.sh
mysql_restoration_config.sh
mysql_var_config.sh